.create {
  .content {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .field {
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }
    }
    .name-error {
      position: absolute;
      bottom: -25px;
      left: 260px;
      color: red;
    }
    .message-error {
      position: absolute;
      bottom: -25px;
      right: 200px;
      color: red;
    }
    label {
      font-weight: 400;
      font-size: 14px;
      color: #4d4d4d;
    }
    select {
      background: #e4e7ea;
      border-radius: 25px;
      width: 480px;
      height: 50px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      color: #4d4d4d;
      border: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-image: url("../../../../public/images/icons/down_arrow.svg");
      background-repeat: no-repeat;
      background-position: 25px center;
      background-size: 10px;
    }
    input[type="text"] {
      background: #ffffff;
      border-radius: 25px;
      width: 480px;
      height: 50px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      color: #4d4d4d;
      border: none;
    }
    .message {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      textarea {
        border: none;
        background: #ffffff;
        border-radius: 25px;
        width: 87.5%;
        padding: 10px 30px;
        font-weight: 400;
        font-size: 16px;
        color: #5f5f5f;
      }
    }
    .file-upload-content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 87.5%;
      border-bottom: 1px solid #c5c5c5;
      padding-bottom: 15px;
      .inputs-container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 7px;
        .upload-input-container {
          width: 176px;
          height: 50px;
          border-radius: 25px;
          position: relative;
          .upload-input-label {
            cursor: pointer;
            border-radius: inherit;
            background: #d7eeeb;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .title {
              font-weight: 600;
              font-size: 16px;
              color: #00a48a;
              margin-right: 7px;
            }
          }
          .upload-input {
            position: absolute;
            top: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border-radius: inherit;
            opacity: 0;
            &::file-selector-button {
              display: none;
            }
          }
        }
      }
      .uploaded-files {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 100px;
        overflow-y: scroll;
        .uploaded-file-container {
          display: flex;
          align-items: center;
          gap: 10px;
          .file {
            font-weight: 600;
            font-size: 14px;
            color: #505050;
          }
          svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
    }
    .action-buttons {
      margin-right: auto;
      display: flex;
      align-items: center;
      gap: 15px;
      .trash {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 68px;
        height: 60px;
        border: 1px solid #b0b0b0;
        border-radius: 25px;
        background-color: transparent;
        cursor: pointer;
      }
      .submit {
        width: 243px;
        height: 60px;
        background: #00a48a;
        box-shadow: 0px 10px 20px rgba(0, 164, 138, 0.25);
        border-radius: 25px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}
