@import "./components/fonts/FontYekan/style.scss";
@import "./pages/auth/auth";
@import "./components/layouts/dashboard";
@import "./components/common/tittle";
@import "./components/common/divider";
@import "./components/common/header/header";

@import "./pages/dashboard/profile/profile-page";
@import "./pages/test.scss";
@import "./pages/dashboard/ticket/create";
@import "./pages/dashboard/ticket/list";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IranYekan";
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  direction: rtl;
}

input,
select,
textarea {
  outline: none;
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
