.title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  .title-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero {
      display: flex;
      align-items: center;
      gap: 5px;
      .title-image {
        user-select: none;
        margin-left: 10px;
      }
      .title-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 37px;
        color: #505050;
      }
    }
  }
}
